{% extends 'about/layout.html.twig' %}
{% set pageName = "Qui sommes nous ?" %}
{% block title %}
    {{pageName}}
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    <a href={{ path('app_about_history') }} class="col-10 col-lg-4 text-center my-5">
                        <figure class="c4-izmir c4-border-center" data-aos="fade-down" data-aos-duration="3000">
                            <img src={{asset('images/philo.jpg') | imagine_filter('big')}} alt={% trans %}"maison philo"{% endtrans %} class="img-fluid p-1 rounded">
                            <figcaption>
                                <h3 class="text-light display-5 fw-bold">{% trans %}Notre histoire{% endtrans %}</h3>
                            </figcaption>
                        </figure>
                    </a>
                    <a href={{ path('app_about_objective') }} class="col-10 col-lg-4 text-center my-5">
                        <figure class="c4-izmir c4-border-center" data-aos="fade-down" data-aos-duration="3000">
                            <img src={{asset('images/birds.jpg') | imagine_filter('big')}} alt={% trans %}"maison philo"{% endtrans %} class="img-fluid p-1 rounded">
                            <figcaption>
                                <h3 class="text-light display-5 fw-bold">{% trans %}Objectif & vision{% endtrans %}</h3>
                            </figcaption>
                        </figure>
                    </a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
