{% extends 'security/layout.html.twig' %}

{% block title %}Register
{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% for message in app.flashes('emailVerified') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('emailSend') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {% embed "components/molecules/securityForm.html.twig" with {
        text: "Inscrivez-vous afin d'accéder à toutes nos offres"
    } %}
        {% block content %}
          
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="btn btn-lg btn-success">{% trans %}S'inscrire{% endtrans %}</button>
                {{ form_end(registrationForm) }}

        {% endblock %}
    {% endembed  %}
{% endblock %}
