<div class="position-relative">
    <a href={{href}}>
        <figure class="c4-izmir c4-image-rotate-right p-3" data-aos="fade-down" data-aos-duration="3000">
            <img src={{asset('images/' ~ images) | imagine_filter('thumb')}} alt={{alt}} class="rounded-circle btn-circle bg-warning">
            <figcaption>
                <h3>Cliquer ici</h3>
            </figcaption>
        </figure>
        <div class="text-success-800 position-circle-text-{{position}}">
            <span class="fs-1 fw-bold d-block">
                {{title}}
            </span>
            <span class="fs-4 text-muted">
                {{content}}
            </span>
        </div>
    </a>
</div>
