<div class="position-relative">
    <a href={{href}}>
        <img src={{asset('images/' ~ images)}} alt={{alt}} class="rounded-circle btn-circle">
        <div class="text-success-800 position-circle-text-{{position}}">
            <span class="fs-1 fw-bold d-block">
                {{title}}
            </span>
            <span class="fs-4 text-muted">
                {{content}}
            </span>
        </div>
    </a>
</div>
