{# templates/login/index.html.twig #}
{% extends 'security/layout.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% embed "components/molecules/securityForm.html.twig" with {
        text: "Connectez-vous pour découvrir toutes nos fonctionnalités."
    } %}
        {% block content %}
            <form action="{{ path('app_login') }}" method="post" style="min-height:60vh" class="d-flex flex-column justify-content-evenly">
                <div class="form-floating">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Votre email" class="form-control"/>
                    <label for="username">{% trans %}Email{% endtrans %}</label>
                </div>
                <div class="form-floating">
                    <input type="password" id="password" name="_password" class="form-control"/>
                    <label for="password">{% trans %}Mot de passe{% endtrans %}:</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-lg btn-success">{% trans %}Se connecter{% endtrans %}</button>

                <span class="join">{% trans %}Envie de nous rejoindre?{% endtrans %}
                    <a href={{path("app_register")}}>Créer un compte</a>
                </span>
            </form>
        {% endblock %}
    {% endembed  %}
{% endblock %}
