{# <div class="col-xlg-4 col-lg-10 mt-5">
    <a href={{ path("app_assistance_share") }}>
        <i class="{{font}} text-light p-5 circle"></i>
    </a>
    <h4 class="my-3 display-5 fw-bold">{{title}}</h4>
    <p class="text-muted mx-auto display-5">{{content}}</p>
</div>
 #}
<a href={{ path(path_link) }} class="col-xlg-4 col-lg-10 mt-5 rounded-circle text-black">
    <figure class="c4-izmir c4-image-rotate-right p-3" data-aos="fade-down" data-aos-duration="3000">
        <img src={{asset('images/' ~ img) | imagine_filter('circle')}} alt={{title}} class=" rounded-circle">
        <figcaption>
            <h3>Cliquer ici</h3>
        </figcaption>
    </figure>
    <h4 class="my-3 display-5 fw-bold">{{title}}</h4>
    <p class="text-muted mx-auto display-5">{{content}}</p>
</a>
